/* General navbar styling */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  height: 100px;
  background-color: white;
  color:  #FFC414;
  flex: 3;
}

.navbar-logo{
  height: 95px;
  width: 130px;
  padding: 0px; 
  flex: 1;
}
/* Logo container */
.navbar-logo img {
  padding: 0;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  
}

/* Navbar links */
.navbar-links {
  display: flex;
  flex: 2;
  justify-content: space-around;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  position: relative;
  padding: 10px 0;
}

.navbar-links a {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}

.navbar-links a:hover {
  color: #8FC53C;
}

/* Dropdown dashboard */
.dropdown-dashboard {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 5px;
  width: 200px;
}

.dropdown-item {
  padding: 10px 0;
}

.dropdown-item a {
  font-size: 14px;
  text-decoration: none;
}

.dropdown-item a:hover {
  color: #8FC53C;
}

.services-dropdown:hover .dropdown-dashboard {
  display: block;
}

