/* Social Media Bar */
.social-media-bar {
    background-color: #000; /* Black background */
    
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-media-links {
    display: flex;
    width: 80%;
    justify-content: space-around;
  }
  
  .social-link {
    color: yellow;
    text-decoration: none;
    font-size: 16px;
    display: flex; 
    align-items:center ;
    gap: 10px; /* Space between icon and text */
  }
  
  .social-icon {
    font-size: 20px; /* Adjust icon size */
    color: yellow;
  }
  
  .social-link:hover .social-icon {
    opacity: 0.7; /* Slightly transparent on hover */
  }
  